@import url('../Fonts/Fonts.css');

:root {
    --primary-color: rgb(194, 139, 57);
    /* --primary-dark-color : #6C40B8; */
    /* --primary-light-color : #4B2393; */
    /* --secondary-dark-color:rgb(7, 11, 28); */
    /* --secondary-color:rgb(14, 14, 36); */
    /* --secondary-dark-color:rgb(0, 4, 13); */
    /* --secondary-color:rgb(0, 6, 14); */
    --secondary-dark-color: rgb(8, 8, 26);
    --secondary-color: rgb(7, 8, 26);
    --third-color: rgb(10, 16, 41);
    --third-light-color: rgba(10, 16, 41, 0.1);
    --secondary-blue-color: #0605052a;
}

.text-main {
    color: var(--primary-color) !important;
}

.MuiTypography-root {
    color: white;
    font-family: "Google Sans", sans-serif !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.App {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: relative;
    background-color: #ffffff;
    background-image:
        radial-gradient(circle, rgba(108, 64, 184, 0.15) 1.5px, transparent 1.5px),
        radial-gradient(circle, rgba(212, 175, 55, 0.18) 2px, transparent 2px),
        radial-gradient(circle, rgba(108, 64, 184, 0.12) 1px, transparent 1px),
        radial-gradient(circle, rgba(212, 175, 55, 0.12) 1.5px, transparent 1.5px),
        radial-gradient(circle, rgba(108, 64, 184, 0.08) 2.5px, transparent 2.5px);

    background-size:
        220px 220px,
        280px 280px,
        180px 180px,
        320px 320px,
        260px 260px;

    background-position:
        20px 40px,
        170px 90px,
        100px 180px,
        260px 40px,
        60px 260px;
}

.btn-main {
    background-color: var(--primary-color) !important;
    border: none !important;
    border-radius: 5px !important;
    text-transform: none !important;
    font-size: 14px;
}

.btn-outlined-main {
    border-color: 1px solid var(--primary-color) !important;
    border-radius: 5px !important;
    text-transform: none !important;
    font-size: 14px;
}

.bg-main {
    /* background: var(--secondary-color); */
    background: linear-gradient(135deg, var(--secondary-dark-color) 0%, var(--secondary-color) 100%);
}

.menue-item:hover {
    transition: all .1s;
    color: var(--primary-color);
    cursor: pointer;
}

.border-10 {
    border-radius: 10px;
}

.border-20 {
    border-radius: 20px;
}

.border-main {
    border: 1px solid var(--primary-color);
}

.border-blue {
    border: 1px solid #FFFFFF1A;
}

.border-main-top {
    border-top: 1px solid transparent;
    border-image: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent) 1;
}

.border-main-bottom {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent) 1;
}

.glow-card, .card{
    background: linear-gradient(var(--third-color), var(--secondary-color)) !important;
}

.glow-card:hover {
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 20px var(--primary-color);
    transform: translateY(-10px);
    transition: all .3s;
}

.bg-custom {
    /* background-color: var(--secondary-dark-color) !important; */
    position: relative;
    background-color: #ffffff;
    background-image:
        radial-gradient(circle, rgba(108, 64, 184, 0.15) 1.5px, transparent 1.5px),
        radial-gradient(circle, rgba(212, 175, 55, 0.18) 2px, transparent 2px),
        radial-gradient(circle, rgba(108, 64, 184, 0.12) 1px, transparent 1px),
        radial-gradient(circle, rgba(212, 175, 55, 0.12) 1.5px, transparent 1.5px),
        radial-gradient(circle, rgba(108, 64, 184, 0.08) 2.5px, transparent 2.5px);

    background-size:
        220px 220px,
        280px 280px,
        180px 180px,
        320px 320px,
        260px 260px;

    background-position:
        20px 40px,
        170px 90px,
        100px 180px,
        260px 40px,
        60px 260px;
}

.bg-graidient {
    background: linear-gradient(90deg, var(--third-color), var(--secondary-color)) !important;
}